<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>VerifyUser</servlet-name>
        <servlet-class>VerifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adduser</servlet-name>
        <servlet-class>adduser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeuser</servlet-name>
        <servlet-class>removeuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcriminal</servlet-name>
        <servlet-class>addcriminal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Criminalupdateprocess</servlet-name>
        <servlet-class>Criminalupdateprocess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotProcess</servlet-name>
        <servlet-class>ForgotProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageProcess</servlet-name>
        <servlet-class>ImageProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageLoader</servlet-name>
        <servlet-class>ImageLoader</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyUser</servlet-name>
        <url-pattern>/VerifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adduser</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeuser</servlet-name>
        <url-pattern>/removeuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcriminal</servlet-name>
        <url-pattern>/addcriminal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Criminalupdateprocess</servlet-name>
        <url-pattern>/Criminalupdateprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotProcess</servlet-name>
        <url-pattern>/ForgotProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageProcess</servlet-name>
        <url-pattern>/ImageProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageLoader</servlet-name>
        <url-pattern>/ImageLoader</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
